<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_CustomCatalog::customcatalog" title="CustomCatalog" module="Magento_CustomCatalog" parent="Magento_Catalog::inventory" action="customcatalog/product" sortOrder="9999" resource="Magento_CustomCatalog::customcatalog"/>
    </menu>
</config>
